.bg{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
	background-image: radial-gradient(
        at 100% 10%,
		rgb(200, 78, 221) 10% ,

        rgb(130, 24, 180) 50%,
		rgb(15, 0, 70) 80%
	);
}
.img{
    object-fit: cover;
    height: 100%;
    width:100%;
    opacity: 45%;
    
}
.logo{
    width:300px;

}
.formWrapper{
    position: absolute;
    background-color: #C1C9E6;
    border-radius:60px ;
    width:500px;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
     background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
   border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    color:white;
}
.inputField{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    
}
.input{

    height: 50px;
    border-radius: 60px;
    width: 350px;
    margin:15px;
    text-align: center;
    font-size: 1rem;
    border:none;
         background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
   border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    color:white;
}


.input::placeholder{
    color:white;
}
.input::-webkit-input-placeholder{
    color:white;
}
.submit{
    margin-top: 2rem;

}
.button{
    height:40px;
    width:90px;
    border-radius: 60px;
    border:none;
     background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
   border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    color:white;
}
.button:hover{
    cursor:pointer;
}
