.container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: radial-gradient(
		at 100% 10%,
		rgb(200, 78, 221) 10%,
		rgb(130, 24, 180) 50%,
		rgb(15, 0, 70) 80%
	);

	background-attachment: fixed;
	background-size: cover;
	top: 0;
	z-index: -1;
	position: absolute;
	display: flex;
	justify-content: center;
}

.subContainer {
	margin-top: 5rem;
}

.field {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	border-radius: 60px;
	height: 12rem;
	width: 95%;
	display: flex;

	align-items: center;
	margin: 1rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(18px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	color: white;

	-webkit-backdrop-filter: blur(5px);
}

.fieldContainer {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	border-radius: 60px;
	height: 33rem;
	width: 70vw;
	display: flex;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(18px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	color: white;

	-webkit-backdrop-filter: blur(5px);

	align-items: center;
	margin: 1rem;
}

.Inp {
	border-radius: 60px;
	height: 2.7rem;
	padding-left: 10px;
	outline: none;
	font-size: 18px;
	width: 50%;
	color: white;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(18px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	color: white;

	-webkit-backdrop-filter: blur(5px);
}

.Inp::placeholder {
	color: white;
}

.Inp::-webkit-input-placeholder {
	color: white;
}

.header {
	margin: 1rem;
	color: white;
}

.avatar {
	height: 45px;
	width: 200px;
	border-radius: 60px;
	color: white;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(18px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	color: white;

	-webkit-backdrop-filter: blur(5px);
	margin: 2rem;
}

.avatarField {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	border-radius: 60px;
	height: 12rem;
	width: 70vw;
	display: flex;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(18px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	color: white;

	-webkit-backdrop-filter: blur(5px);
	align-items: center;
	margin: 1rem;
}

.submit {
	height: 45px;
	width: 200px;
	border-radius: 60px;
	color: white;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(18px);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	color: white;

	-webkit-backdrop-filter: blur(5px);
	margin: 2rem;
}

.submit:hover {
	cursor: pointer;

	background: rgba(39, 39, 39, 0.5);
}

.avatar:hover {
	cursor: pointer;

	background: rgba(39, 39, 39, 0.5);
}

@media (max-width: 500px) {
	.field {
		width: 90%;
		height: 10rem;
		font-size: 20px;
	}

	.fieldContainer {
		width: 80vw;
		margin: 0;
	}

	.avatar {
		width: 70%;
		height: 3rem;
		font-size: 20px;
	}

	.avatarField {
		width: 80vw;
        margin:0rem;
		font-size: 20px;

        margin-top:1rem;
	}

	.Inp {
		width: 90%;
	}
}
