
.container{
    background-color: rgb(255, 255, 255);
    min-height: fit-content;
    height:60px;
    box-shadow: 1px 2px 10px 2px gray;
    border-radius: 10px;
    padding:1px;
    width: 100%;
}
.menu{
    height:100%;
}
.logoutContainer{
    margin-top:6px;
    float: right;
    margin-right: 1%;

}
.logout{
    background: red;
    border-radius: 15px;
    min-width: 4%;
    padding:10px;
    font-size: 100%;
}
.logout:hover{
    background-color: rgb(226, 0, 0);
}

